.Rproj.user
.Rhistory
Data_to_ignore/
Parameter_values_from_literature/
Issues ForEdgeClim.txt
fast_load.R
Data/*
!data_for_animation/
!Macro_temp_plant_eco.txt
!pyranometer_tower.dat
!RMI_Melle.csv
!RMI_radiation.csv
!TLS_scaled_DTM_and_grid_April2024.rds
!TLS_scaled_DTM_and_grid_January2025.rds
!TLS_scaled_DTM_and_grid_July2023.rds
!TLS_scaled_DTM_and_grid_June2023.rds
!TLS_scaled_DTM_and_grid_October2024.rds
!TOMST_hourly.xlsx
Output/*
!Output/2023-07-08_12/
!Output/animated_timeseries.gif
Scripts/older_SA_and_calibrations/

